@charset "utf-8";

$theme-color: #2d8cf0 !default;
$text-color: #495060 !default;
$text-black-color: #000 !default;
$text-gray-color: #999 !default;
$text-light-color: #D8D8D8 !default;
$success-color: #6aca25 !default;
$warning-color: #ff9900 !default;
$error-color: #fc0d1b !default;
$info-color: #2d8cf0 !default;
$active-color: #32CBCB !default;
$border-color: #E9EBEC !default;
$border-dark-color: #bbb !default;
$sidebar-bg-color: #354053 !default;
$bg-color: #f8f8f8 !default;
$font-size: 12px !default;
$font-m-size: 14px !default;
$font-l-size: 16px !default;
$font-xl-size: 18px !default;

$nav-height: 60px !default;
$action-btn-height: 48px !default;
$action-btn-width: 130px !default;
$sidebar-width: 150px !default;
$sidebar-fold-width: 66px !default;

$space-normal: 10px !default;
$space-middle: 20px !default;
$space-large: 30px !default;

$error-box-width: 700px !default;
$error-box-height: 500px !default;


$border-radius: 6px !default;
$border-s-radius: 4px !default;
$border-m-radius: 8px !default;
$border-l-radius: 10px !default;

$transition-time: 0.2s !default;
$colors:(red:#fa2f2f, orange:#ff7e2a, yellow:#FBBD08, olive:#B5CC18, green:#21BA45,teal:#00B5AD,blue: #2d8cf0, pink:#fd9fb0, gray: #ccc, black: #1B1C1D);
